{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/fishies/fish-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="cat-container">
  <div class="cat-img">
    <img 
      src="{% static 'images/sk8r-boi-cat.svg' %}" 
      alt="A skater boy cat"
    >
  </div>
  <div class="cat-details">
    <h1>{{ fish.name }}</h1>
    {% if fish.age > 0 %}
      <h2>A {{ fish.age }} year old {{ fish.breed }}</h2>
    {% else %}
      <h2>A {{ fish.breed }} kitten.</h2>
    {% endif %}
    <p>{{ fish.description }}</p>
    <div class="cat-actions">
      <a href="{% url 'fishies_update' fish.id %}" class="btn warn">Edit</a>
      <a href="{% url 'fishies_delete' fish.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}