{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/fishies/fish-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Fish List</h1>
  <img src="{% static 'images/cool-cat.svg' %}" alt="A cool cat" />
  <img src="{% static 'images/happy-cat.svg' %}" alt="A happy cat" />
  <img src="{% static 'images/teacup-cat.svg' %}" alt="A cat in a teacup" />
  <img src="{% static 'images/cat-in-box.svg' %}" alt="A cat in a box" />
</section>

<section class="card-container">
  {% for fish in fishies %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/sk8r-boi-cat.svg' %}" 
            alt="A skater boy cat"
          >
        </div>
        <h2 class="card-title">{{ cat.name }}</h2>
        {% if fish.age > 0 %}
          <p>A {{ fish.age }} year old {{ fish.breed }}</p>
        {% else %}
          <p>A {{ fish.breed }} kitten.</p>
        {% endif %}
        <p><small>{{ fish.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}