{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/fishies/fish-index.css' %}"
/>
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Fish List</h1>
  <img src="{% static 'images/8935912_fish_ocean_sea_surgeon_life_icon.svg' %}" alt="A cool cat" />
  <img src="{% static 'images/8935916_clown_fish_ocean_sea_life_icon.svg' %}" alt="A happy cat" />
  <img src="{% static 'images/8935933_angel_angelfish_aquarium_fish_reef_icon.svg' %}" alt="A cat in a teacup" />
  <img src="{% static 'images/8935959_yellow_tang_fish_ocean_sea_icon.svg' %}" alt="A cat in a box" />
</div>

<div class="card-container">
  {% for fish in fishies %}
    <div class="card">
      <a href="{% url 'fishies_detail' fish.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/1492093987.svg' %}" 
              alt="A fish"
            >
          </div>
          <h2 class="card-title">{{ fish.name }}</h2>
          {% if fish.age > 0 %}
            <p>A {{ fish.age }} year old {{ fish.breed }}</p>
          {% else %}
            <p>A {{ fish.breed }} little fishy.</p>
          {% endif %}
          <p><small>{{ fish.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>

{% endblock %}