{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="about-page">
  <h1>About the Fish Collector</h1>
  <hr />
  <div class="about-div">
    <p class="page-content">
      This is a lovely fish collector application that was created by Scott Semlitz. The idea was inspired by an animated background that ended up causing issues with CPU usage, so we had to go an alternative route. The end result is a simple fish collecting application where you can add, edit, and delete fish.
    </p>
  </div>
  <br>
  <br>
  <img src="{% static 'images/fishcat.png' %}" alt="catfish"/>
  <div class="about-quote">
    <p>
      "Fish are friends, not food."
    </p>
  </div>
</div>
  
{% endblock %}